<ion-view view-title="Guest Feedback">
  <ion-content class="padding">
    <div flex ng-repeat="question in questions" class="content">

      <div ng-show="question.show">
        <div>
          <label class="labelStyle">
            <span>{{question.question}}</span>
          </label>

          <div class="divMargin">
            <div ng-if="question.type == 'textinputs' ">
              <textarea ng-model="question.answer" rows="4" cols="50" placeholder="Enter your answer here"></textarea>
            </div>
            <div ng-if="question.type == 'multiselect' ">

              <ion-checkbox ng-repeat="item in question.options" ng-model="isChecked"
                            ng-click="onMultiSelect(question,item,isChecked)">{{item.text}}
              </ion-checkbox>
            </div>


            <div ng-if="question.type == 'singleselect' ">
              <ion-radio ng-repeat="value in question.options" ng-value="value" name="{{question.question}}"
                         ng-model="question.answer">{{value}}
              </ion-radio>
            </div>
          </div>

        </div>
        <div class="btnDivStyle">
          <button class="button icon-left ion-chevron-left button-calm buttonSize" ng-if="$index > 0"
                  ng-click="onPrevious(question,$index)">
            previous
          </button>
          <button class="button button-calm icon-left buttonSize" ng-if="$index == 0">
            cancel
          </button>
          <button class="button icon-right ion-chevron-right button-calm rightButton buttonSize"
                  ng-if="questions.length-1 != $index" ng-disabled="(!question.answer) || question.answer.length == 0"
                  ng-click="onNext(question,$index)">
            next
          </button>
          <button class="button button-calm icon-right rightButton buttonSize" ng-if="questions.length-1 == $index"
                  ng-click="onSubmit()" ng-disabled="(!question.answer) || question.answer.length == 0">
            submit
          </button>

        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
